<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Basic Layout - jQuery EasyUI Demo</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/themes/default/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/themes/icon.css}" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript">
		var toolbar = [ {
			id : 'button-add',
			text : '增加',
			iconCls : 'icon-add',
			handler : add
		},{
			id : 'button-add',
			text : '修改',
			iconCls : 'icon-save',
			handler : update
		}
		/* ,{
			id : 'button-view',
			text : '查询',
			iconCls : 'icon-search',
			handler : search
		} */
		]
		var columns = [[{
			field : 'id',
			checkbox : true
		},{
			field : 'username',
			title : '客户姓名',
			width : 120,
			align : 'center',
			formatter : function(data,row) {
				return row.user.username;
			}
		},{
			field : 'flag',
			title : '类型',
			width : 120,
			align : 'center',
			formatter : function(data, row, index) {
				if(data == 0) {
					return "充值";
				} else {
					return "消费";
				}
			}
		},{
			field : 'money',
			title : '金额',
			width : 120,
			align : 'center'
		},{
			field : 'date',
			title : '日期',
			width : 120,
			align : 'center',
			formatter : function(data, row, index) {
				return data;
			}
		},{
			field : 'description',
			title : '内容描述',
			width : 120,
			align : 'center'
		}]]
		$(function(){
			$('#account_add').window({
				collapsible:false,
				minimizable:false,
				maximizable:false,
				titil:"添加",
				model:true,
				shadow:true,
				onBeforeClose : function() {
					$("#tt").datagrid('reload');
				},
				tools:[{
					iconCls:'icon-add',
					handler:function(){
						var v = $("#accountForm").form("validate");
						if(v == false) {
							return;
						}
						$("#accountForm").form({
							url: "/account/add",    
						    onSubmit: function(){
						    	
						    },    
						    success:function(data){    
						        if(data == 0) {
						        	alert("交易失败");
						        	$("#accountForm").form("clear");
						        }
						        if(data == 1) {
						        	alert("交易成功");
						        	$('#accountForm').window('close');
						        	$("#accountFrom").form("clear");
						        }
						        if(data == -1) {
						        	alert("余额不足，请充值");
						        	$('#account_add').window('close');
						        	$("#accountForm").form("clear");
						        }
						    }
						});
						$("#accountForm").submit();
					}
				}]
			});
			
			$('#account_update').window({
				collapsible:false,
				minimizable:false,
				maximizable:false,
				titil:"修改",
				model:true,
				shadow:true,
				onBeforeClose : function() {
					$("#tt").datagrid('reload');
				},
				tools:[{
					iconCls:'icon-save',
					handler:function(){
						var v = $("#updateForm").form("validate");
						if(v == false) {
							return;
						}
						$("#updateForm").form({
							url: "/account/update",    
						    onSubmit: function(){    
						    },    
						    success:function(data){    
						        if(data == 0) {
						        	alert("修改失败");
						        	$("#updateForm").form("clear");
						        }
						        if(data == 1) {
						        	alert("修改成功");
						        	$('#account_update').window('close');
						        	$("#updateForm").form("clear");
						        }
						        if(data == -1) {
						        	alert("余额不足，不能修改")
						        	$('#account_update').window('close');
						        	$("#updateForm").form("clear");
						        }
						    }
						});
						$("#updateForm").submit();
					}
				}]
			});
			
			$('#tt').datagrid({
				iconCls : 'icon-forward',
				fit : true,
				border : false,
				rownumber : true,
				striped : true,
				pagination : true,
				toolbar : toolbar,
				pageSize : 15,
				pageList : [15,20,25],
				columns : columns,
				singleSelect : true,
				pagination : true,
				url : "/account/findAll",
				fitColumns:"true",
				onDblClickRow : function(rowIndex,rowData){
					$("#account_update").window("open");
					$("#updateForm").form("load",rowData);
				}
			})
			
/* 			$('#ss').searchbox({
			    searcher:function(value,name){
			    	$('#tt').datagrid({
						iconCls : 'icon-forward',
						fit : true,
						border : false,
						rownumber : true,
						striped : true,
						pagination : true,
						toolbar : toolbar,
						columns : columns,
						url : "/account/findByCondition?" +  name + "=" + value,
						fitColumns:"true",
						onDblClickRow : function(rowIndex,rowData){
							$("#account_update").window("open");
							$("#updateForm").form("load",rowData);
						}
					})
			    },
			    menu:'#mm',
			    prompt:'请输入查询信息'
			}); */
			$.extend($.fn.validatebox.defaults.rules, {
				money: {
					validator: function(value,param) {
						var moneyRex =/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/;
						return moneyRex.test(value);
					},
					message : '金额格式输入有错误'
				}
			});
			
		});
		
		function add() {
			$("#userAccount span").html("");
			$("#account_add").window("open");
			$('#account_add_phone').combobox({    
			    url:'/user/findAllUsername',    
			    valueField:'phone',    
			    textField: 'username',
			    filter	 : function (q, row) {
			    	var opts = $(this).combobox('options');
					return row[opts.textField].indexOf(q) == 0;
			    },
			    formatter: function(row){
					var opts = $(this).combobox('options');
					return row[opts.textField] + row[opts.valueField];
				},
				onChange : function(newValue, oldValue) {
					$.post("/account/findAccountByPhone",{phone: newValue},function(data) {
						$("#userAccount span").html(data);
					});
				}
			});
		}
		function update() {
			var row = $("#tt").datagrid('getSelected');
			if(row == null) {
				return;
			}
			$("#account_update").window("open");
			$("#showName h3").html(row.user.username);
			$("#updateForm").form("load",row);
		}
		function search() {
			var row = $("#tt").datagrid('getSelected');
			window.location.href = "/account/findAll?userId="+row.id;
		}
	</script>
</head>
<body class="easyui-layout">

	<h2>客户管理系统</h2>
	<p></p>
	<div style="margin: 20px 0;"></div>
	<div class="easyui-layout" style="height: 650px;">
		<div data-options="region:'north'" style="height: 50px"></div>
		<div data-options="region:'east',split:true" title="East"
			style="width: 200px;"></div>
		<div data-options="region:'west',split:true" title="West"
			style="width: 200px;">
			<div>
				<ul id="tree" class="easyui-tree">
				    <li>
						<a class="acicon" th:href="@{/}">客户信息</a>
					</li>
				    <li>
				    	<a class="acicon" th:href="@{/consume}">消费信息</a>
				    </li>
				</ul>
			</div>
		</div>
		
		<div data-options="region:'center',title:'消费信息',iconCls:'icon-ok'">
			<div>
<!-- 				<input id="ss" style="width:250px"></input>
				<div id="mm" style="width:100px">
				    <div data-options="name:'flag',iconCls:'icon-ok'" style="width:100px">消费类型查询</div>
				    <div data-options="name:'date'" style="width:100px">日期查询</div>
				</div> -->
				<div style="height:570px">
					<table id="tt" ></table>
				</div>
			</div>
		</div>
		
		<div id="account_add" class="easyui-window" title="添加账户信息" closed="true" style="width:500px;height:300px;padding:5px;">
			<form id="accountForm" method="post">
				<div style="position:relative;left:120px;top:30px">
					<input id="account_add_phone" name="user.phone" value="请选择" /> <br/><br/>
					交易类型<input type="radio" name="flag" id="account_add_flag" value="0" checked="checked"/>充值 <input type="radio" name="flag" value="1" />消费<br/><br/>
					金额<input type="text" id="account_add_money"  class="easyui-validatebox" validType="money" name="money" placeholder="请输入金额" required="true"/><br/><br/>
					描述信息<input type="text" name="description" placeholder="请添加消费描述" /><br/><br/>	
					<div id = "userAccount">账户余额：<span></span></div>
				</div>
			</form>
		</div>
		
		<div id="account_update" class="easyui-window" title="修改账户信息" closed="true" style="width:500px;height:300px;padding:5px;">
			<form id="updateForm" action="/account/update" method="post">
			<div style="position:relative;left:120px;top:20px">
					<input type='hidden' name='id'/>
					<div id = "showName"><h3></h3></div>
					交易类型<input type="radio"   name="flag" value="0" />充值 <input  type="radio" name="flag" value="1"/>消费<br/><br/>
					金额<input type="text" name="money"  placeholder="请输入金额" class="easyui-validatebox" validType="money" required="true"/><br/><br/>
					描述信息<input type="text" name="description" placeholder="请添加消费描述" required="true"/><br/><br/>
					日期<input type="datetime" name="date" disabled="false"/>
				</div>
			</form>
		</div>
	</div>
</body>
</html>