<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.AccountMapper">
	<resultMap id="BaseResultMap" type="com.winter.model.Account">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="money" property="money" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<association property="user" column="userId" select="getUser"/>
	</resultMap>
	<select id="getUser" parameterType = "Integer" resultType = "com.winter.model.User">
		select username,sex,phone from customer where id = #{userId,jdbcType=INTEGER}
	</select>
	<sql id="Base_Column_List">
		id, money, date, description,flag,userId
	</sql>

	<!-- 查询账单 -->
	<select id="findAllAccount" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		order by date desc
	</select>
	<select id="findAccountById" parameterType="Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		where id = #{id,jdbcType=INTEGER}
	</select>
	<!-- 根据用户编号查询账单 -->
	<select id="selectAccountByUserId" parameterType="Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		where userId = #{userId,jdbcType=INTEGER}
		order by date
		desc
	</select>
	<!-- 根据条件查询账单 -->
	<select id="findByCondition" parameterType="com.winter.model.Account"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
		<where>
			<if test="userId != null">
			 	userId = #{userId,jdbcType=INTEGER},
			</if>
			<if test="date != null">
			 	date = #{date,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
			 	flag = #{flag,jdbcType=INTEGER},
			</if>
		</where>
		order by date
		desc
	</select>
	<!-- 查询用户某种订单金额 -->
	<select id="findUserMoney" parameterType="com.winter.model.Account" resultType="Double">
		select sum(money) from account 
			where userId = #{userId, jdbcType = INTEGER} 
			and flag = #{flag, jdbcType = INTEGER}
	</select>
	<select id="findUserIdById" parameterType="Integer" resultType="Integer">
		select userId from account where id = #{id, jdbcType = INTEGER}
	</select>
	<!-- 修改用户 -->
	<update id="updateAccount" parameterType="com.winter.model.Account">
		update account
		<set>
			date = sysdate(),
			flag = ${flag},
			<if test="money != null and money != ''">
				money = #{money,jdbcType=VARCHAR},
			</if>
			<if test="description != null and description != ''">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="userId != null and flag != ''">
				userId = #{userId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<insert id="addAccount" parameterType="com.winter.model.Account">
		insert into account (id, money, date, description, flag, userId)
			values  (#{id,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}, sysdate(), 
      	#{description,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER} )
	</insert>
</mapper>